[submodule "thirdparty/cppglob"]
	path = thirdparty/cppglob
	url = https://github.com/Kogia-sima/cppglob.git
	branch = master
[submodule "thirdparty/cxxopts"]
	path = thirdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
	branch = master
[submodule "thirdparty/sox"]
	path = thirdparty/sox
	url = https://github.com/nkari82/sox.git
	branch = master
[submodule "thirdparty/world"]
	path = thirdparty/world
	url = https://github.com/nkari82/World.git
	branch = master
